<h1></h1>

<table>
	<tr>
		<th>Value</th>
	</tr>
	<tr>
		<td><%= @stats['get_misses'] %></td>
	</tr>
	<tr>
		<td><%= Wstats['cmd_flush'] %></td>
	</tr>
</table>

<% @contacts.each do |contact| %>
  <% cache contact do %>
    #...
  <% end %>
<% end %>


